<p>Nos Recettes</p>

<div class="recipe-form">
  <h2>Créer une nouvelle recette</h2>
  <form (ngSubmit)="addRecipe(nouvelleRecette)">
    <div>
      <label for="name">Nom :</label>
      <input type="text" id="name" [(ngModel)]="nouvelleRecette.name" name="name" required>
    </div>
    <div>
      <label for="portion">Nombre de personnes :</label>
      <input type="number" id="portion" [(ngModel)]="nouvelleRecette.portion" name="portion" required>
    </div>
    <div>
      <label for="image_url">URL de l'image :</label>
      <input type="text" id="image_url" [(ngModel)]="nouvelleRecette.image_url" name="image_url">
    </div>
    <div>
      <label for="prep_time">Temps de préparation :</label>
      <input type="text" id="prep_time" [(ngModel)]="nouvelleRecette.prep_time" name="prep_time" required>
    </div>
    <div>
      <label for="cook_time">Temps de cuisson :</label>
      <input type="text" id="cook_time" [(ngModel)]="nouvelleRecette.cook_time" name="cook_time" required>
    </div>
    <div>
      <label for="category">Catégorie :</label>
      <input type="text" id="category" [(ngModel)]="nouvelleRecette.category" name="category" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="nouvelleRecette.description" name="description"></textarea>
    </div>
    <button type="submit">Créer la recette</button>
  </form>
</div>

<table class="admin-table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (recipe of pendingRecipes; track recipe.id) {
      <tr>
        <td>{{ recipe.name }}</td>
        <td>
          <button class="view" (click)="viewRecipe(recipe.id)">Détails</button>
          <button class="edit" (click)="editRecipe(recipe.id)">Modifier</button>
          <button class="delete" (click)="deleteRecipe(recipe.id)">Supprimer</button>
        </td>
      </tr>
    }
    @empty {
      <tr>
        <td colspan="3" class="empty-message">Aucune recette en attente trouvée</td>
      </tr>
    }
  </tbody>
</table>
