@if(recipe){
<p>Nom : {{recipe?.name}}</p>
<p>Description : {{recipe?.description}}</p>
<p>Catégorie : {{recipe?.category}}</p>
<p>Nombre de personne : {{recipe?.portion}}</p>
<p>Temps de préparation : {{recipe?.prepTime}}</p>
<p>Temps de cuisson : {{recipe?.cookTime}}</p>
<hr>
<p>Ingredients : </p>
@for(ingredient of recipe.ingredients; track ingredient){
<p>{{ingredient.ingredient.name}} Quantité : {{ingredient.quantity}}</p>
}
<hr>
<p>Instructions : </p>
@for(instruction of recipe.instructions; track instruction){
<p>Etape {{instruction.step}}</p>
<p>{{instruction.description}}</p>
}
}
